body{
    margin: 0;
}
.slide-container{
    position: relative;
}
.btn-prev{
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: black;
    background-color: white;
    padding: 8px 20px;
    margin-left: 10px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;

}
.btn-next{
   right: 10px;
   position: absolute;
   top: 45%;
   color: black;
    background-color: white;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
}
.slide{
    display: none;
}